<table>
	<tbody>
		<tr>
			<td><p>A comment has been marked inappriopriate:</p></td>
		</tr>
		<tr>
			<td>flagged by: <%= @user.first_name %> <%= @user.last_name %>, email:
			<%= @user.email %>, user_id: <%= @user.id %></td>
		</tr>
		<tr>
			<td>for comment: <%= @comment.body %></td>
		</tr>
		<tr>
			<td>comment written by: <%= @comment.user.email %>, comment_id: <%= @comment.user.id %>
		</tr>
		<tr>
			<td>comment about <%= @comment.product.name %></td>
		</tr>
	</tbody>
</table>