<div class="row">
	<div class="col-md-6">
		<%= @product.img_url %>
	</div>
	<div class="col-md-6">
		<h1 class="display-4"><%= @product.name %></h1>
		<p class="py-2 h4 text-muted"><%= number_to_currency(@product.price) %></p>
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#description">Description</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#lead-reviews">Reviews</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active pt-1" id="description" role="tabpanel">
				<p class="lead"><%= truncate(@product.description, length: 200) %></p>
			</div>
			<div class="tab-pane pt-1" id="lead-reviews" role="tabpanel">
				<%= render 'headline_comments' %>
			</div>
		</div>

	</div>
</div>
<div class="my-3">
	<% if @product.description.length > 200 %>
		<a data-toggle="collapse" href="#full-description">Full description</a>
		<div class="collapse" id="full-description">
			<p><%= simple_format(@product.description) %></p>
		</div>
	<% end %>
</div>
<div id="new-comments">
	<%= render 'new_comment' %>
</div>

<div class="mt-2 mb-3">
	<a data-toggle="collapse" href="#see-comments">Show all reviews</a>
	<div class="collapse" id="see-comments">
		<%= render @product.comment_order %>
	</div>
</div>

<%= link_to 'back', products_path %>