<div class="row" data-product-id="<%= @product.id %>">
	<div class="col-md-6 product-image">
		<% if @product.image_width < 1000 %>
			<%= image_tag @product.product_image.url(:large), class: "img-fluid" %>
		<% else %>
		<%= image_tag @product.product_image.url(:large), class: "img-fluid img-zoom", data_zoom_image: "#{@product.product_image}" %>
		<% end %>
	</div>
	<div class="col-md-6">
		<div class="rated average-rating" data-score="<%= @product.average_rating %>"></div>
		<h1 class="display-4"><%= @product.name %></h1>

		<p class="py-1 h4 text-muted"><%= number_to_currency(@product.price) %><span class="pl-2"><%= link_to 'Please login in to purchase', new_user_session_path, class: "btn btn-warning" unless signed_in? %></span></p>
		<div class="pb-1">
			<%= form_tag "/payments/create" do %>
				<%= hidden_field_tag(:product_id, @product.id) %>
				<%= render partial: "shared/stripe_checkout_button" if signed_in? %>
			<% end %>
		</div>

		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#description">Description</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#lead-reviews">Reviews</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active pt-1" id="description" role="tabpanel">
				<p class="lead"><%= truncate(@product.description, length: 200) %></p>
			</div>
			<div class="tab-pane pt-1" id="lead-reviews" role="tabpanel">
				<%= render 'headline_comments' %>
			</div>
		</div>

	</div>
</div>
<div class="my-3">
	<% if @product.description.length > 200 %>
		<a data-toggle="collapse" href="#full-description">Full description</a>
		<div class="collapse" id="full-description">
			<p><%= simple_format(@product.description) %></p>
		</div>
	<% end %>
</div>

<div id="new-comments">
<div class="alert alert-info comment" style="display:none" role="alert">A new comment was posted!</div>
	<%= render 'new_comment' %>
</div>

<div class="mt-2 mb-3">
	<a data-toggle="collapse" href="#comment-show">Show all reviews</a>
	<div class="collapse" id="comment-show">
		<div id="see-comments">
			<%= render @comments %>
		</div>
		<div id="pagination-comments" class="pagination">
			<%= js_will_paginate @comments %>
		</div>
	</div>
</div>


<%= link_to 'back', products_path %>