<nav class="navbar navbar-fixed-top navbar-dark">
	<div class="row navbar-upper">
		<%= link_to "Fruitree", root_path, class: "navbar-brand" %>
		
		<ul class="nav navbar-nav float-xs-right">
			<li class="nav-item"><%= link_to "Products", products_path, class: "nav-link" %></li>
			<li class="nav-item"><a class="nav-link">Two</a></li>
			<li class="nav-item"><a class="nav-link">Three</a></li>
		</ul>
	</div>
	<div class="row navbar-lower">
		<ul class="nav navbar-nav float-xs-left">
			<%= content_for :admin %>
		</ul>
		
		<ul class="nav navbar-nav float-xs-right">
			<li class="nav-item">
			<% if user_signed_in? %>
				<%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
			<% else %>
				<%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %></li>
				<li class="nav-item"><%= link_to 'Log in', new_user_session_path, class: "nav-link" %></li>
			<% end %>
		</ul>
	</div>
</nav>

<% content_for :breadcrumbs do %>
	<div class="row ml-0 pl-1 navbar-breadcrumbs">
		<%= render_breadcrumbs :separator => ' > ' %>
	</div>
<% end %>