<!DOCTYPE html>
<html>
	<head>
		<title>Fruitree</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
	
		<%= render 'shared/modals' %>
		<%= render 'layouts/navigation' %>
	
		<%= yield :breadcrumbs %>
		<div class="margin-fix"></div>
			
		<div class="container">
			<div id="flash">
				<%= render 'shared/flash_notice' %>
			</div>
			<%= yield %>
		</div>
		
		<%= render 'layouts/footer' %>
		
	</body>
</html>
